{% extends '_baseStudent.html.twig' %}

{% block pageTitle %}List Page {% endblock %}
{% block main %}
<h1>Welcome to the Student Section {% if user is defined %}{{ user }}{% endif %}</h1>

    {#{{ user }}#}
    <ul>
        <li> <a href = "/logout">Logout</a></li>
    </ul>

</ul>
{% endblock %}