{% extends '_base.html.twig' %}

{% block pageTitle %}List Page {% endblock %}
{% block main %}
    <h1>List of Students and Admin {% if user is defined %}{{ user }}{% endif %}</h1>
<ul>
    <li><a href = "/userlist">List all users</a></li>
    <li><a href = "/showStudent">List all students</a></li>
</ul>
{% endblock %}