<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block pageTitle %}{% endblock %}</title>
    <style>
        @import 'css/style.css';
        /*@import "css/basic.css";*/
        /*@import "css/footer.css";*/
    </style>
</head>

<body>

<hr>
{% block main %}
{% endblock %}

</body>
</html>
